#header1 {
font-size: 60px;
}
#table1 {
 margin-left: auto;
 margin-right: auto;
}
.description {
width: 25%
 font-size: 30px;
}
.center {
 margin-left:auto;
 margin-right:auto;
}
#subtitle {
font-size: 40px;
}
